html, body  {height: 100%}
body        {margin: 0;padding: 0;width: 100%;display: table; font-family: 'Lato'; color: #868282}
.container  {text-align: center;display: table-cell;vertical-align: middle}
.content    {text-align: center;display: inline-block}
.title      {font-size: 18px; font-weight: bold }
.info       {font-size: 20px; margin-top: 10px; min-height: 20px; padding: 13px 15px 15px; background: #e4e1e1; color: #333333;}
